.acordo_contant {
	
	h4 {
        text-transform: uppercase;
        font-family: 'NimbusSanL';
        font-size: 22px;
        font-weight: 700;
        line-height: 26.4px;
        letter-spacing: 0.02em;
        text-align: center;
    }
    p {
        font-family: 'NimbusSanL';
        font-size: 16px;
        font-weight: 400;
        line-height: 23.2px;
    }
    h5 {
        font-family: 'NimbusSanL';
        font-size: 16px;
        font-weight: 700;
        line-height: 23.2px;
    }
    h3 {
        font-family: 'NimbusSanL';
        font-size: 22px;
        font-weight: 700;
        line-height: 31.9px;
        color: #84AF9C;
        text-transform: uppercase;
    }
    h6 {
        font-family: 'NimbusSanL';
        font-size: 22px;
        font-weight: 400;
        line-height: 31.9px;
    }
}
.border_t {
    border-top: 4px solid #000;
}