.my_footer {

	background: $primary-color;
	ul {
	    text-align: right;
	}

	li {
        display: inline-block;

        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            font-family: 'ArchivoNarrow';
            line-height: 18.86px;
            transition: .3s;

            &:hover {
                color: $menu_hover_color;
            }
        }
	}

	p {
	    color: #fff;
        font-size: 12px;
        line-height: 16.16px;
        letter-spacing: 0.3px;
        font-family: 'ArchivoNarrow';
        font-weight: 400;
        margin: 0;
	}
	i {
        font-size: 25px !important;
    }
    .row.mt-4 {
        align-items: center;
    }
}

.footer_social li {
    padding: 0 6px;
}
.footer_menu li + li:before {
    content: " | ";
    padding: 0 10px;
    color: #fff;
}