body {
    -webkit-font-smoothing: antialiased;
}
.container-flude {
    margin: 0 3%;
}
header {
    padding: 10px 0 0;
    margin-bottom: 60px;
}

nav {
    li {
        list-style: none;
        display: inline-block;
    }
	a {
	    color: $menu_color !important;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'NimbusSanL';
        transition: 0.3s;
        display: inline-block;
        text-align: center;
        width: 100%;

        &:hover {
	       color: $menu_hover_color !important;
	    }
	}
	
}
.toggal {
    align-items: center;
    display: flex;

    ul {
        list-style: none;
    }
    button {
        background: transparent;
        border: 1px solid transparent;
        margin-right: 10px;
    }
    
}
.navbar {
    display: block;
    //@media (min-width: 1600px) {
        //justify-content: between;
    //}
}
.menu_section {
    display: grid;
    align-items: center;
}
.menu_a a {
    border-bottom: 5px solid #6AB2CE;
    padding-bottom: 5px;
}
.menu_b a {
    border-bottom: 5px solid #D27F67;
    padding-bottom: 5px;
}
.menu_c a {
    border-bottom: 5px solid #84AF9C;
    padding-bottom: 5px;
}
.menu_d a {
    border-bottom: 5px solid #66CC99;
    padding-bottom: 5px;
}


.toggal_menu {
    //text-align: center;

    .ref {
        display: inline-block;
        a {
            color: $menu_color !important;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'NimbusSanL';
            transition: 0.3s;
            display: inline-block;
            text-align: center;
            width: 100%;

            &:hover {
                color: $menu_hover_color !important;
            }
        }
    }
    
    ul {
        list-style: none;
        padding-left: 0px;


        li {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            position: relative;

            &.bd {
                &:after {
                    content: "";
                    width: 1px;
                    height: calc(100% - 10px);
                    background: #000;
                    display: block;
                    position: absolute;
                    bottom: -42px;
                    right: -40px;
                }
            }


            &.one {


                .ref {
                    a {
                        border-bottom: 5px solid #6ab2ce;
                        padding-bottom: 5px;
                    }
                }
            }

            &.two {


                .ref {
                    a {
                        border-bottom: 5px solid #d27f67;
                        padding-bottom: 5px;
                    }
                }
            }

            &.three {


                .ref {
                    a {
                        border-bottom: 5px solid #84af9c;
                        padding-bottom: 5px;
                    }
                }
            }

            &.four {


                .ref {
                    a {
                        border-bottom: 5px solid #6c9;
                        padding-bottom: 5px;
                    }
                }
            }

            ol {
                padding: 0;

                li {
                    display: block;
                    text-align: center;
                    border: none;
                    border-bottom: 1px solid #000;
                    height: auto;
                    //padding: 6px 10px 6px;
                    padding: 6px 0px 6px;
                    width: 180px;

                    a {
                        color: $menu_color;
                        text-decoration: none;
                        font-size: 16px;
                        font-family: 'NimbusSanL';
                        transition: 0.3s;

                        &:hover {
                            color: $menu_hover_color;
                        }
                    }
                }
            }
        }
    }
}

.toggal_social {
    list-style: none;
    padding: 0;
    margin: 40px 0 0 50px;

    li {

        ol {
            list-style: none;
            padding-left: 0px;
        }
    }

}
img.close {
    display: none;
}

.header_bg img.close {
    display: block;
    position: absolute;
    top: 26px;
    right: 26px;
    z-index: 999;
}
.header_bg span.search_icon {
    display: none;
}



.social-media { 
    li {
        border: none !important;
        padding: 7px 0px !important;

        i {
            font-size: 26px;
            padding: 5px 0 10px;
            color: $primary-color;

            &:hover {
              color: $menu_hover_color !important;
            }
        }

    }
}

.menu-hide {
    //display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    background: $box-background;
    //z-index: 999;
    transform-origin: 0% 0%;
    transform: translate(0, -200%);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    &.open {
        transform: none;
    }

    .close {
        background: url(assets/img/menu_close.svg);
        width: 21px;
        height: 20px;
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }
}

.toggal_a li {
    border-color: #6AB2CE !important;
}
.toggal_b li {
    border-color: #d27f67 !important;
}
.toggal_c li {
    border-color: #84af9c !important;
}
.toggal_d li {
    border-color: #66cc99 !important;
}
.header_bg {
    background: $box-background;
}



#header_a {
    margin: 0;
}