#linha_contant {
	
	h6 {
        font-family: 'NimbusSanL';
        font-size: 18px;
        font-weight: 400;
        line-height: 26.1px;
    }
    p {
        font-family: 'NimbusSanL';
        font-size: 14px;
        font-weight: 400;
        line-height: 20.3px;
    }
    .b_bottom {
        border-bottom: 1px solid #000;
    }
    h4 {
        font-family: 'NimbusSanL';
        font-size: 18px;
        font-weight: 700;
        line-height: 26.1px;
    }
    li {
        font-family: 'NimbusSanL';
        font-size: 14px;
        font-weight: 400;
        line-height: 20.3px;
        color: #000;

        a {
            font-family: 'NimbusSanL';
            font-size: 14px;
            font-weight: 400;
            line-height: 20.3px;
            color: #000;
        }
    }
}